@import ../variables

#root
  display: flex
  justify-content: center

  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  background-color: #f8f8f8

a
  color: #333

  &:hover
    color: #999

  &:active
    color: #ccc

.container
  margin: 1rem

  width: 100%
  max-width: $screen-l
  color: #333
