.section-title
  display: grid
  grid-template-columns: auto max-content auto
  align-items: center
  margin: 1rem 0

  &-side
    border-bottom: 1px solid #ccc

  &-text
    font-size: 1.25rem
    text-align: center
    text-transform: uppercase
    letter-spacing: 4px

    margin: 0 1rem

  &-divider
    grid-column-start: span 3
    border-bottom: 1px solid #ccc